@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">@Model.End</h1>
    <p>@Model.End_Description</p>
    <a class="btn btn-danger m-auto" asp-page="Index">Restart game</a>
</div>
