@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Minecraft Adventure</h1>
    <a asp-page="Start" type="button" class="btn btn-success" asp-route-id="@Model.ID">Start</a>
</div>
